body{
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    background: linear-gradient(135deg,#1f2937,#111827);
    color:white;

    font-size:18px;   
}

/* sidebar */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:230px;
    height:100vh;

    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.08);

    border-right:1px solid rgba(255,255,255,0.1);
    padding:20px;
}

/* sidebar menu */

.sidebar a{
    display:block;
    padding:12px;
    margin-bottom:10px;
    color:white;
    text-decoration:none;

    border-radius:10px;
}

.sidebar a:hover{
    background: rgba(255,255,255,0.1);
}

/* main content */

.main{
    margin-left:250px;
    padding:30px;
}

/* glass cards */

.card{

    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.08);

    border-radius:16px;
    padding:20px;
    margin-bottom:20px;

    border:1px solid rgba(255,255,255,0.1);
}

/* table style */

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:12px;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

input{
    padding:10px;
    border-radius:10px;
    border:none;
    width:250px;
}

/* Buttons */

button{
    padding:12px 20px;
    font-size:16px;
    border-radius:10px;
    border:none;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}


/* Search dropdown list */

ul{
    list-style:none;
    padding:0;
}

ul li{
    padding:10px;
    background:rgba(255,255,255,0.1);
    margin-bottom:5px;
    border-radius:8px;
    cursor:pointer;
}

ul li:hover{
    background:rgba(255,255,255,0.2);
}


/* Input improvement */

input{
    width:100%;
    max-width:400px;
    font-size:16px;
}
.card h3{
margin-bottom:15px;
}

h1{
margin-bottom:20px;
}

table input{
background:rgba(255,255,255,0.1);
color:white;
border:none;
border-radius:8px;
text-align:center;
}

.removeBtn{
background:red;
color:white;
border:none;
padding:6px 10px;
border-radius:8px;
cursor:pointer;
}

.removeBtn:hover{
background:darkred;
}
@media print {

body * {
visibility: hidden;
}

#printArea, #printArea * {
visibility: visible;
}

#printArea {
position: absolute;
left: 0;
top: 0;
width: 100%;
background: white;
}

}
@media print {

* {
-webkit-print-color-adjust: exact !important;
print-color-adjust: exact !important;
}

}
